/**********************************************************
 *  public/css/nav.css                                    *
 **********************************************************
 */

    .content {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        min-height: 70vh;
        z-index: 3;
    }

        .content_page {
            position: relative;
            float: left;
            clear: both;
            width: 100%;
            height: auto;
            min-height: 70vh;
            margin: 0px;
            padding: 0px 1%;
            opacity: 0.01;
            z-index: 700;
        }


            .contact_page {
                position: absolute;
                right: 1%;
                height: 96px;
                width: 48px;
                margin: 1vw 0px 0px 0px;
                padding: 0px;
            }
