/**********************************************************
 *  public/css/nav.css                                    *
 **********************************************************
 */

    .content {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        min-height: 70vh;
        z-index: 3;
        background-color: #DEDEFF;
    }

        .content_page {
            position: relative;
            float: left;
            clear: both;
            width: 100%;
            height: auto;
            min-height: 70vh;
            margin: 0px;
            padding: 0px 2% 0px 2%;
            opacity: 0.01;
            z-index: 700;
        }

            .content_inner {
                position: relative;
                float: left;
                margin-top: 2vh;
                margin-bottom: 2vh;
                padding: 2vh;
                width: 100%;
                height: auto;
                background-color: #FFF;
                border-radius: 12px;
                box-shadow: 4px 4px 8px #AAA;
                background-color: #EEEEFF;
                border: solid 16px #FFF;
            }

            .content_inner h2, h3 {
                position: relative;
                float: left;
                width: 100%;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                color: #006596;
                margin-bottom: 2vh;
            }

            .content_inner h3 {
                font-size: 14px;
            }

            .content_inner p {
                position: relative;
                float: left;
                width: 100%;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: #003466;
                margin: 1vh 0px;
                padding: 0px .5vw;
                line-height: 16px;
            }

            .content_inner a {
                display: inline-block;
                width: auto;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                margin: 0vh 0px 0px 0px;
                line-height: 16px;
                color: #1E90EF;
                text-decoration: none;
            }

            .contact_page {
                position: absolute;
                right: 1%;
                height: 96px;
                width: 48px;
                margin: 1vw 0px 0px 0px;
                padding: 0px;
            }


    .content_quote {
        position: absolute;
        margin: 2vh 2vw;
        width: calc(100% - (48px + 4vw));
        height: auto;
        border-radius: 12px;
        box-shadow: 4px 4px 8px #AAA;
        color: #3EB0FF;
        text-shadow: 1px 1px 1px #000;
        background-color: #FFF;
        padding: 2vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

        .client_quote {
            position: relative;
            text-align: center;
            top: 1vw;
            left: 10px;
            opacity: 0.01;
            float: left;
            width: 100%;
            height: auto;
            margin-bottom: 1vw;
            font-style: italic;
        }

        .client_info {
            position: relative;
            float: left;
            top: 2vw;
            left: 10px;
            margin-bottom: 0vw;
            opacity: 0.01;
            width: 100%;
            height: auto;
            color: #FF8800;
            text-shadow: 1px 1px 1px #000;
            text-align: right;
        }

            .title_span {
                padding-top: -3px;
                color: #1A80E0;
                font-weight: bold;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

    .clients {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, auto);
    }

    .client_wrapper {
        position: relative;
        float: left;
        width: 97%;
        height: auto;
        text-align: center;
        margin-bottom: 1vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .feedback {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

        .feedback_wrapper {
            position: relative;
            float: left;
            width: 100%;
            height: auto;
            background-color: #FFF;
            padding: 2vh;
            margin-bottom: 2vh;
            border-radius: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-style: italic;
        }

            .feedback_quote {
                position: relative;
                float: left;
                width: 100%;
                height: auto;
                text-align: center;
                margin-bottom: 2vh;
                border-radius: 8px;
                color: #3EB0FF;
                text-shadow: 1px 1px 1px #000;
                line-height: 14px;
            }

            .feedback_info {
                position: relative;
                float: right;
                width: 100%;
                height: auto;
                text-align: right;
                border-radius: 8px;
                color: #FF8800;
                text-shadow: 1px 1px 1px #000;
                line-height: 14px;
            }
    