/**********************************************************
 *  public/css/media.css                                  *
 **********************************************************
 */

    @media screen and (min-width: 640px) {
        .clients {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(7, auto);
        }
    }

    @media screen and (min-width: 840px) {

        header {
            align-items: flex-start;
            padding: 0px 6%;
        }

        #header_title {
            width: auto;
        }

        nav div {
            position: absolute;
            display: block;
            width: 88%;
            left: 6%;
        }

        .nav_link {
            font-size: 14px;
            margin-left: 2%;
            margin-right: 0;
            padding: 0;
        }

        .contact_page {
            padding: 0 6%;
            display: none;
        }

        .contact_header {
            display: block;
            right: 6%;
        }

        .content_page {
            padding: 2px 6% 0px 6%;
            width: 68%;
        }

            .content_inner {
                margin-top: 2vh;
            }

                .content_inner h2 {
                    font-size: 22px;
                }

                .content_inner h3 {
                    font-size: 12px;
                }

                .content_inner p,
                .content_inner a {
                    font-size: 14px;
                    line-height: 18px;
                }


        .content_quote {
            margin: 2vh 0px;
            right: 6%;
            width: 30%;
            height: auto;
            font-size: 14px;
        }

        footer div {
            width: 46%;
        }

        footer div:nth-child(odd) {
            margin-left: 4%;
        }

        .clients {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, auto);
        }

        /* .client_wrapper {
            width: 98%;
            height: 96px;
        } */


    }
